<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
    <div class="wholenav">
        <nav class="navbar1">
            <div class="right_icons">
                <div class="hamburger">
                    <button class="hambutton">
                        <img src="../../../assets/imgs/hamburger.png" alt="hamburger">
                    </button>
                </div>
                <div class="logo">
                    <img src="../../../assets/imgs/logo.png" alt="img">
                </div>
            </div>
            <div class="middle_icons">
                <div class="searchbar">
                    <div class="search_area">
                        <p>Search</p>
                    </div>
                    <div class="search_icon">
                        <i class="fa-solid fa-magnifying-glass" style="color: white;"></i>
                    </div>
                </div>
                <div class="voice_icon">
                    <i class="fa-solid fa-microphone" style="color: #ffffff;"></i>
                </div>
            </div>
            <div class="left_icons">
                <div class="three_dots">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

                <button class="signin_button">
                    <div class="signin_icon">
                        <i class="fa-regular fa-circle-user" style="color: #24a0ff;"></i>
                    </div>
                    <div class="signin_text">
                        <p><b>Sign in</b></p>
                    </div>
                </button>

            </div>
        </nav>
        <div class="navbar2">
            <div class="catego" id="all">
                <p>All</p>
            </div>
            <div class="catego">
                <p>News</p>
            </div>
            <div class="catego">
                <p>Tamil Cinema</p>
            </div>
            <div class="catego">
                <p>Music</p>
            </div>
            <div class="catego">
                <p>Trailers</p>
            </div>
            <div class="catego">
                <p>Game shows</p>
            </div>
            <div class="catego">
                <p>Dramedy</p>
            </div>
            <div class="catego">
                <p>Bollywood Music</p>
            </div>
            <div class="catego">
                <p>Live</p>
            </div>
            <div class="catego">
                <p>Cricket</p>
            </div>
            <div class="catego">
                <p>Gaming</p>
            </div>
            <div class="catego">
                <p>Podcast</p>
            </div>
            <div class="catego">
                <p>Craft</p>
            </div>

        </div>
    </div>
    <div class="sidebar">
        <div class="scrollable">
            <div class="container" id="container1">
                <div class="logo_for_sidebar">
                    <i class="fa-solid fa-house" style="color: #ffffff;"></i>
                </div>
                <div class="name_for_sidebar">
                    <p>Home</p>
                </div>
            </div>
            <div class="container" id="container2">
                <div class="logo_for_sidebar">
                    <!-- <i class="fa-solid fa-bolt" style="color: #ffffff;"></i> -->
                    <i class="material-icons">
                        music_note
                    </i>
                </div>
                <div class="name_for_sidebar">
                    <p>Shorts</p>
                </div>
            </div>
            <div class="container" id="container3">
                <div class="logo_for_sidebar">
                    <i class="material-icons">
                        subscriptions
                    </i>
                </div>
                <div class="name_for_sidebar">
                    <p>Subscriptions</p>
                </div>
            </div>
            <hr>
            <div class="container" id="container4">
                <div class="you_inside_container">
                    <div class="signin_sidebar_text">
                        <i class="material-icons">
                            video_library
                        </i>
                    </div>
                    <div class="signin_sidebar_logo">
                        <p>You</p>
                    </div>
                </div>
            </div>
            <div class="container" id="container5">
                <div class="history_inside_container">
                    <div class="signin_sidebar_text">
                        <i class="material-icons">
                            history
                        </i>
                    </div>
                    <div class="signin_sidebar_logo">
                        <p>History</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container" id="container6">
                <div class="info_sidebar_text">
                    <p>Sign in to like videos,<br> comment and subscribe.</p>
                </div>
                <div class="copy_signin_button">
                    <button class="signin_button">
                        <div class="signin_icon">
                            <i class="fa-regular fa-circle-user" style="color: #24a0ff;"></i>
                        </div>
                        <div class="signin_text">
                            <p><b>Sign in</b></p>
                        </div>
                    </button>
                </div>
            </div>
            <hr>
            <div class="container" id="container7">
                <div class="explore_title">
                    <p>Explore</p>
                </div>
                <div class="all_cate">
                    <div class="categories">
                        <div class="cate_logo">
                            <i class="material-icons">
                                local_fire_department
                            </i>
                        </div>
                        <div class="cate_desc">
                            <p>Trending</p>
                        </div>
                    </div>
                    <div class="categories">
                        <div class="cate_logo">
                            <i class="material-icons">
                                local_mall
                            </i>
                        </div>
                        <div class="cate_desc">
                            <p>Shopping</p>
                        </div>
                    </div>
                    <div class="categories">
                        <div class="cate_logo">
                            <i class="material-icons" id="music_icon">
                                headphones
                            </i>
                        </div>
                        <div class="cate_desc" id="music">
                            <p>Music</p>
                        </div>
                    </div>
                    <div class="categories" id="movies">
                        <div class="cate_logo">
                            <i class="material-icons">
                                movie
                            </i>
                        </div>
                        <div class="cate_desc">
                            <p>Movies</p>
                        </div>
                    </div>
                    <div class="categories" id="Live">
                        <div class="cate_logo">
                            <i class="material-icons">
                                graphic_eq
                            </i>
                        </div>
                        <div class="cate_desc">
                            <p>Live</p>
                        </div>
                    </div>
                    <div class="categories" id="gaming">
                        <div class="cate_logo">
                            <i class="material-icons">
                                videogame_asset
                            </i>
                        </div>
                        <div class="cate_desc">
                            <p>Gaming</p>
                        </div>
                    </div>
                    <div class="categories" id="gaming">
                        <div class="cate_logo">
                            <i class="material-icons">
                                videogame_asset
                            </i>
                        </div>
                        <div class="cate_desc">
                            <p>Gaming</p>
                        </div>
                    </div>
                    <div class="categories" id="gaming">
                        <div class="cate_logo">
                            <i class="material-icons">
                                videogame_asset
                            </i>
                        </div>
                        <div class="cate_desc">
                            <p>Gaming</p>
                        </div>
                    </div>
                    <div class="categories" id="gaming">
                        <div class="cate_logo">
                            <i class="material-icons">
                                videogame_asset
                            </i>
                        </div>
                        <div class="cate_desc">
                            <p>Gaming</p>
                        </div>
                    </div>
                    <div class="categories" id="gaming">
                        <div class="cate_logo">
                            <i class="material-icons">
                                videogame_asset
                            </i>
                        </div>
                        <div class="cate_desc">
                            <p>Gaming</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainbody"></div>
</body>

</html>
