
.navbar2 {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 240px;
    height: 56px;
    width: 1176px;
    padding-left: 24px;
    background-color: black;

}

.catego {

    margin: 0%;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    height: fit-content;
    width: fit-content;
    background-color: #282828;
    border-radius: 7px;
    cursor: pointer;
}

.catego p {
    font-weight: 500;
    color: white;
    font-size: small;
}

.catego:hover {
    background-color: #5e5d5da6
}

#all {
    box-sizing: content-box;
    /* padding: 10px;
    padding-left: 13px;
    padding-right: 13px; */
    height: fit-content;
    background-color: white;
}

#all p {
    font-weight: 700;
    color: black;
}