<div class="navbar2">
    <div class="catego" id="all">
        <p>All</p>
    </div>
    <div class="catego">
        <p>News</p>
    </div>
    <div class="catego">
        <p>Tamil Cinema</p>
    </div>
    <div class="catego">
        <p>Music</p>
    </div>
    <div class="catego">
        <p>Trailers</p>
    </div>
    <div class="catego">
        <p>Game shows</p>
    </div>
    <div class="catego">
        <p>Dramedy</p>
    </div>
    <div class="catego">
        <p>Bollywood Music</p>
    </div>
    <div class="catego">
        <p>Live</p>
    </div>
    <div class="catego">
        <p>Cricket</p>
    </div>
    <div class="catego">
        <p>Gaming</p>
    </div>
    <div class="catego">
        <p>Podcast</p>
    </div>
    <div class="catego">
        <p>Craft</p>
    </div>

</div>
