<nav class="navbar1">
    <div class="right_icons">
        <div class="hamburger">
            <button class="hambutton">
                <img src="../../../assets/imgs/hamburger.png" alt="hamburger">
            </button>
        </div>
        <div class="logo">
            <img src="../../../assets/imgs/logo.png" alt="img">
        </div>
    </div>
    <div class="middle_icons">
        <div class="searchbar">
            <div class="search_area">
                <p>Search</p>
            </div>
            <div class="search_icon">
                <i class="fa-solid fa-magnifying-glass" style="color: white;"></i>
            </div>
        </div>
        <div class="voice_icon">
            <i class="fa-solid fa-microphone" style="color: #ffffff;"></i>
        </div>
    </div>

    <!----------------------------- testing dropdown  ----------------------------------->

    <div class="left_icons">
            <app-dropdown></app-dropdown>
        
        <button class="signin_button">
            <div class="signin_icon">
                <i class="fa-regular fa-circle-user" style="color: #24a0ff;"></i>
            </div>
            <div class="signin_text">
                <p><b>Sign in</b></p>
            </div>
        </button>

    </div>
</nav>
