<div class="sidebar">
    <div class="container" id="container1">
        <div class="name_for_sidebar">
            <p>Settings</p>
        </div>
    </div>
    <div class="container" id="container2">
        <div class="name_for_sidebar">
            <p>Account</p>
        </div>
    </div>
    <div class="container" id="container3">
        <div class="name_for_sidebar">
            <p>Notification</p>
        </div>
    </div>
    <div class="container" id="container3">
        <div class="name_for_sidebar">
            <p>Playback and Performance</p>
        </div>
    </div>
    <div class="container" id="container3">
        <div class="name_for_sidebar">
            <p>Downloads</p>
        </div>
    </div>
    <div class="container" id="container3">
        <div class="name_for_sidebar">
            <p>Account</p>
        </div>
    </div>
    <div class="container" id="container3">
        <div class="name_for_sidebar">
            <p>Privacy</p>
        </div>
    </div>
    <div class="container" id="container3">
        <div class="name_for_sidebar">
            <p>Connected apps</p>
        </div>
    </div>
    <div class="container" id="container3">
        <div class="name_for_sidebar">
            <p>Billing and payments</p>
        </div>
    </div>
    <div class="container" id="container3">
        <div class="name_for_sidebar">
            <p>Advance settings</p>
        </div>
    </div>
    <!-- <div class="container" id="container3">
        <div class="logo_for_sidebar">
            <i class="material-icons">
                subscriptions
            </i>
        </div>
        <div class="name_for_sidebar">
            <a routerLink="/subscribe_navigation">
                <p>Subscriptions</p>
            </a>
        </div>
    </div>
    <div class="container" id="container4">
        <div class="you_inside_container">
            <div class="signin_sidebar_text">
                <i class="material-icons">
                    video_library
                </i>
            </div>
            <div class="signin_sidebar_logo">
                <p>You</p>
            </div>
        </div>
    </div>
    <div class="container" id="container5">
        
    </div>
    <div class="container" id="container6">
        
    </div> -->
    
</div>