<div class="sidebar">
    <div class="scrollable">
        <div class="container" id="container1">
            <div class="logo_for_sidebar">
                <i class="fa-solid fa-house" style="color: #ffffff;"></i>
            </div>
            <div class="name_for_sidebar">
                <p>Home</p>
            </div>
        </div>
        <div class="container" id="container2">
            <div class="logo_for_sidebar">
                <!-- <i class="fa-solid fa-bolt" style="color: #ffffff;"></i> -->
                <i class="material-icons">
                    music_note
                </i>
            </div>
            <div class="name_for_sidebar">
                <p>Shorts</p>
            </div>
        </div>
        <div class="container" id="container3">
            <div class="logo_for_sidebar">
                <i class="material-icons">
                    subscriptions
                </i>
            </div>
            <div class="name_for_sidebar">
                <a routerLink = "/subscribe_navigation" ><p>Subscriptions</p></a>
            </div>
        </div>
        <hr>
        <div class="container" id="container4">
            <div class="you_inside_container">
                <div class="signin_sidebar_text">
                    <i class="material-icons">
                        video_library
                    </i>
                </div>
                <div class="signin_sidebar_logo">
                    <p>You</p>
                </div>
            </div>
        </div>
        <div class="container" id="container5">
            <div class="history_inside_container">
                <div class="signin_sidebar_text">
                    <i class="material-icons">
                        history
                    </i>
                </div>
                <div class="signin_sidebar_logo">
                    <p>History</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container" id="container6">
            <div class="info_sidebar_text">
                <p>Sign in to like videos,<br> comment and subscribe.</p>
            </div>
            <div class="copy_signin_button">
                <button class="signin_button">
                    <div class="signin_icon">
                        <i class="fa-regular fa-circle-user" style="color: #24a0ff;"></i>
                    </div>
                    <div class="signin_text">
                        <p><b>Sign in</b></p>
                    </div>
                </button>
            </div>
        </div>
        <hr>
        <div class="container" id="container7">
            <div class="explore_title">
                <p>Explore</p>
            </div>
            <div class="all_cate">
                <div class="categories">
                    <div class="cate_logo">
                        <i class="material-icons">
                            local_fire_department
                        </i>
                    </div>
                    <div class="cate_desc">
                        <p>Trending</p>
                    </div>
                </div>
                <div class="categories">
                    <div class="cate_logo">
                        <i class="material-icons">
                            local_mall
                        </i>
                    </div>
                    <div class="cate_desc">
                        <p>Shopping</p>
                    </div>
                </div>
                <div class="categories">
                    <div class="cate_logo">
                        <i class="material-icons" id="music_icon">
                            headphones
                        </i>
                    </div>
                    <div class="cate_desc" id="music">
                        <p>Music</p>
                    </div>
                </div>
                <div class="categories" id="movies">
                    <div class="cate_logo">
                        <i class="material-icons">
                            movie
                        </i>
                    </div>
                    <div class="cate_desc">
                        <p>Movies</p>
                    </div>
                </div>
                <div class="categories" id="Live">
                    <div class="cate_logo">
                        <i class="material-icons">
                            graphic_eq
                        </i>
                    </div>
                    <div class="cate_desc">
                        <p>Live</p>
                    </div>
                </div>
                <div class="categories" id="gaming">
                    <div class="cate_logo">
                        <i class="material-icons">
                            videogame_asset
                        </i>
                    </div>
                    <div class="cate_desc">
                        <p>Gaming</p>
                    </div>
                </div>
                <div class="categories" id="gaming">
                    <div class="cate_logo">
                        <i class="material-icons">
                            videogame_asset
                        </i>
                    </div>
                    <div class="cate_desc">
                        <p>Gaming</p>
                    </div>
                </div>
                <div class="categories" id="gaming">
                    <div class="cate_logo">
                        <i class="material-icons">
                            videogame_asset
                        </i>
                    </div>
                    <div class="cate_desc">
                        <p>Gaming</p>
                    </div>
                </div>
                <div class="categories" id="gaming">
                    <div class="cate_logo">
                        <i class="material-icons">
                            videogame_asset
                        </i>
                    </div>
                    <div class="cate_desc">
                        <p>Gaming</p>
                    </div>
                </div>
                <div class="categories" id="gaming">
                    <div class="cate_logo">
                        <i class="material-icons">
                            videogame_asset
                        </i>
                    </div>
                    <div class="cate_desc">
                        <p>Gaming</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
