<div class="mainbody">
    <div class="scrollable_main_body">
        <div class="row">
            <!-- <img src="front_row.png" alt="" class="row_img"> -->
            <div class="column_box" *ngFor="let item of video_thumbnails ">
                <div class="column_box_thumbnail">
                    <img src="{{item.thumbmnail_img}}" alt="" class="thumbnail_img">
                </div>
                <div class="column_box_title">
                    <div class="channel_dp">
            
                    </div>
                    <div class="video_desc">
                        <div class="video_title">
                            <p>{{item.video_name}}</p>
                        </div>
                        <div class="channel_name">
                            <p>{{item.channel_name}}<i class="fa-solid fa-circle-check" style="color: #AAAAAA;"></i></p>
                            
                        </div>
                        <div class="views">
                            <!-- not implementing this rn -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <img src="front_row.png" alt="" class="row_img"> -->
            <div class="column_box" *ngFor="let item of video_thumbnails ">
                <div class="column_box_thumbnail">
                    <img src="{{item.thumbmnail_img}}" alt="" class="thumbnail_img">
                </div>
                <div class="column_box_title">
                    <div class="channel_dp">
            
                    </div>
                    <div class="video_desc">
                        <div class="video_title">
                            <p>{{item.video_name}}</p>
                        </div>
                        <div class="channel_name">
                            <p>{{item.channel_name}}<i class="fa-solid fa-circle-check" style="color: #AAAAAA;"></i></p>
                            
                        </div>
                        <div class="views">
                            <!-- not implementing this rn -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <img src="front_row.png" alt="" class="row_img"> -->
            <div class="column_box" *ngFor="let item of video_thumbnails ">
                <div class="column_box_thumbnail">
                    <img src="{{item.thumbmnail_img}}" alt="" class="thumbnail_img">
                </div>
                <div class="column_box_title">
                    <div class="channel_dp">
            
                    </div>
                    <div class="video_desc">
                        <div class="video_title">
                            <p>{{item.video_name}}</p>
                        </div>
                        <div class="channel_name">
                            <p>{{item.channel_name}}<i class="fa-solid fa-circle-check" style="color: #AAAAAA;"></i></p>
                            
                        </div>
                        <div class="views">
                            <!-- not implementing this rn -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
